Data Cleaning and PreparationExercises Name: Rovin Castelino
Registration Number: 240957001
PC 46
24/01/2025

1. Create a CSV file called “Movies.csv” with details of 10 movies- Movie Name, Language, Genre, Rating, Review.

a. Read CSV file into a dataframe and find the movie with the highest rating.

In [12]:
import pandas as pd
df=pd.read_csv("examples/movie.csv")
highest_rated_movie = df.loc[df["Rating"].idxmax()]
print("Highest Rated Movie:\n", highest_rated_movie)

Highest Rated Movie:
 Name                     Toy Story
Language                   English
Genre             Animation|Comedy
Rating                         9.1
Review      This a fantastic movie
Name: 0, dtype: object

b. Write the details of all “Hindi movies into a file “HindiMovies.csv”.

In [13]:
hindi_movies = df[df["Language"] == "Hindi"]
hindi_movies.to_csv("examples/HindiMovies.csv", index=False)
print("Hindi Movies saved to HindiMovies.csv")
hindi_movies

Hindi Movies saved to HindiMovies.csv

,Name,Language,Genre,Rating,Review
2,The Great Indian Family,Hindi,Family,5.3,"Of all the films I have seen, this one has got..."
3,Andhadhun,Hindi,Crime|Mystery|Thriller,8.7,I watched this film not really expecting much
5,Dangal,Hindi,Action|Biography|Drama,7.1,This film tried to be too many things all at once
9,3 Idiots,Hindi,Comedy|Drama,8.9,I laughed all the way through this movie.

2. For the  CEREALS dataset, perform data preprocessing and answer the following questions.

a. Create a table with the 5 number summary of all the numeric attributes.

In [14]:
import pandas as pd
import numpy as np
cereals_df=pd.read_csv("examples/Cereals.csv")
summary_before = cereals_df.describe().loc[['min', '25%', '50%', '75%', 'max']]
print("Five Number Summary (Before):")
print(summary_before)

Five Number Summary (Before):
     calories  protein  fat  sodium  fiber  vitamins  shelf  weight  cups  \
min      50.0      1.0  0.0     0.0   0.00       0.0    1.0     0.5  0.25
25%     100.0      2.0  0.0   132.5   0.75      25.0    1.0     1.0  0.67
50%     110.0      2.5  1.0   180.0   1.75      25.0    2.0     1.0  0.75
75%     110.0      3.0  2.0   212.5   3.00      25.0    3.0     1.0  1.00
max     160.0      6.0  5.0   320.0  14.00     100.0    3.0     1.5  1.50

        rating
min  18.042851
25%  32.932466
50%  40.253086
75%  50.780847
max  93.704912

b. For each of the numeric attributes (proteins upto vitamins) , identify and replace all missing data(indicated with -1) with the arithmetic mean of the attribute. 
c. Create a table with the 5 number summary of all the numeric attributes after treating missing values.  Do you think the 
strategy used in dealing with missing values was effective?

In [15]:
cereals_df.replace(-1, np.nan, inplace=True)
cereals_df.fillna(cereals_df.select_dtypes(include=[np.number]).mean(), inplace=True)
summary_after_missing = cereals_df.describe().loc[['min', '25%', '50%',  '75%', 'max']]
print("\nFive Number Summary (After Treating Missing Values):")
print(summary_after_missing)

Five Number Summary (After Treating Missing Values):
     calories  protein  fat  sodium  fiber  vitamins  shelf  weight  cups  \
min      50.0      1.0  0.0     0.0   0.00       0.0    1.0     0.5  0.25
25%     100.0      2.0  0.0   132.5   0.75      25.0    1.0     1.0  0.67
50%     110.0      2.5  1.0   180.0   1.75      25.0    2.0     1.0  0.75
75%     110.0      3.0  2.0   212.5   3.00      25.0    3.0     1.0  1.00
max     160.0      6.0  5.0   320.0  14.00     100.0    3.0     1.5  1.50

        rating
min  18.042851
25%  32.932466
50%  40.253086
75%  50.780847
max  93.704912

d. For each numeric attribute (proteins upto vitamins), identify and replace all noisy data with the median of attribute.  
e. Create a table with the 5 number summary of all the numeric attributes after treating noisy values.  Do you think the 
strategy used in dealing with noisy values was effective?

In [16]:
for col in cereals_df.columns:
    if cereals_df[col].dtype in ['float64', 'int64']:
        Q1 = cereals_df[col].quantile(0.25)
        Q3 = cereals_df[col].quantile(0.75)
        IQR = Q3 - Q1
        low = Q1 - 1.5 * IQR
        upper = Q3 + 1.5 * IQR
        median = cereals_df[col].median()
        cereals_df[col] = np.where((cereals_df[col] < low) | (cereals_df[col] > upper), median, cereals_df[col])
summary_after_noise = cereals_df.describe().loc[['min', '25%', '50%', '75%', 'max']]
print("\nFive Number Summary (After Treating Noisy Values):")
print(summary_after_noise)

Five Number Summary (After Treating Noisy Values):
     calories  protein  fat  sodium  fiber  vitamins  shelf  weight  cups  \
min      90.0     1.00  0.0    15.0  0.000      25.0    1.0     1.0  0.25
25%     100.0     2.00  0.0   147.5  0.750      25.0    1.0     1.0  0.67
50%     110.0     2.25  1.0   180.0  1.625      25.0    2.0     1.0  0.75
75%     110.0     3.00  2.0   212.5  3.000      25.0    3.0     1.0  1.00
max     120.0     4.00  5.0   320.0  6.000      25.0    3.0     1.0  1.33

        rating
min  18.042851
25%  32.932466
50%  40.179526
75%  50.031833
max  74.472949